<div id="home" class="home-container">
    <h2>Home Section</h2>
    
    <div class="carousel">
      <div class="carousel-images">
        <div class="carousel-slide">
          <img src="assets/images/home.jpg" alt="Home Image 1">
        </div>
        <div class="carousel-slide">
          <img src="assets/images/a1.jpg" alt="Home Image 2">
        </div>
        <div class="carousel-slide">
          <img src="assets/images/home2.jpg" alt="Home Image 3">
        </div>
        <div class="carousel-slide">
          <img src="assets/images/home.jpg" alt="Home Image 4">
        </div>
      </div>
      <!-- <button class="carousel-control prev" (click)="prevSlide()">&#10094;</button>
      <button class="carousel-control next" (click)="nextSlide()">&#10095;</button> -->
    </div>
  </div>

  
  <div id="myservices" class="services-container">
    <h2>Services Section</h2>
    <section id="collection">
      <div class="collections container">
        <div class="content">
          <img src="https://i.postimg.cc/Xqmwr12c/clothing.webp" alt="Clothing Collections">
          <div class="img-content">
            <p>Clothing Collections</p>
            <button><a href="#sellers">SHOP NOW</a></button>
          </div>
        </div>
        <div class="content2">
          <img src="https://i.postimg.cc/8CmBZH5N/shoes.webp" alt="Shoes Spring">
          <div class="img-content2">
            <p>Shoes Spring</p>
            <button><a href="#sellers">SHOP NOW</a></button>
          </div>
        </div>
        <div class="content3">
          <img src="https://i.postimg.cc/MHv7KJYp/access.webp" alt="Accessories">
          <div class="img-content3">
            <p>Accessories</p>
            <button><a href="/services">SELECT</a></button> 
          </div>
        </div>
      </div>
    </section>
  
    
  </div>
