<header>

    <!-- <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label> -->


    <a href="#" class="logo">Zehara<span>.</span></a>

    <nav class="navbar">
        <a href="#home">Home</a>

        <a href="#myservices">Services</a>

        <a href="#myorder">My orders</a>
        
        <a href="/shopreg">Register Shop</a>

      

    </nav>

    <div class="icons">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-shopping-cart"></a>
        <a href="/login" class="fas fa-user"></a>
    </div>
</header>